<% @interviews.each do |interview| %>
  <% if interview.approval? %>
    <div class="alert alert-primary" role="alert">
      <p>承認された面談情報</p>
      <ul>
        <li>日時：<%= interview.decorate.show_date %></li>
        <li>面談者：<%= interview.decorate.mentor_name %></li>
      </ul>
    </div>
  <% end %>
<% end %>
